:root {
  --base00: #20201d;
  --base01: #292824;
  --base02: #6e6b5e;
  --base03: #7d7a68;
  --base04: #999580;
  --base05: #a6a28c;
  --base06: #e8e4cf;
  --base07: #fefbec;
  --base08: #d73737;
  --base09: #b65611;
  --base0A: #ae9513;
  --base0B: #60ac39;
  --base0C: #1fad83;
  --base0D: #6684e1;
  --base0E: #b854d4;
  --base0F: #d43552;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  height: 40px;
  background: #434343;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h2 {
  color: #fbfbfb;
}

.codebox-container {
  margin: auto;
  max-width: 1000px;
  width: 100%;
  display: flex;
  height: calc(100vh - 40px);
  align-items: center;
}

.codebox {
  background: var(--base00);
  color: var(--base03);
  padding: 10px;
  outline: none;
  height: 600px;
  border: none;
  resize: none;
  width: 100%;
  margin-right: 10px;
  border-radius: 5px;
}

.codebox.hightlighted {
  --base00: red;
}

.codebox:last-child {
  margin-right: 0;
}